{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Read" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>{% trans "room" %}</h2>
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">
			<h5>{{ room.kind }}</h5>			
			<h4>{{ room.title }}</h4>			
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-8">				
					<p>{{ room.details }}</p>	
					<p><strong>{% trans "floor" %}</strong>: {{ n.floor }}<p>					
				</div>
				<div class="col-md-4">
					{% if room.photo.url != None %}
						<img style="width:100%; max-width:400px;" src="{{ room.photo.url}}" alt="{{ room.title }}" title="{{ room.details }}">
					{% endif %}
					<p><div class="Stars" style='--rating: {{ room.avg_rating| stringformat:".1f" }};'></div></p>							
				</div>
			</div>				
		</div>
		<div class="card-footer">				
			<p><strong>{% trans "price" %}</strong>: {{ room.price }}<p>
		</div>		
	</div>
	<a class="btn btn-outline-info" style="width:100px; margin-top:5px" onclick="history.back()">{% trans "Back" %}</a> 
</div>
{% if reviews.count > 0 %}
<div class="row justify-content-center">
	<h5>{% trans "reviews" %}</h5>
</div>
{% for r in reviews %}
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">
			<h5>{{ r.user }}</h5>
			<p><div class="Stars" style='--rating: {{ r.rating| stringformat:".1f" }};'></div></p>							
		</div>
		<div class="card-body">
			<p>{{ r.details }}</p>
		</div>
		<div class="card-footer">
			<p>{{ r.dater | date:"d.m.Y H:i"}}</p>
		</div>
	</div>	
</div>
{% endfor %}	
{% else %}	
<div class="row justify-content-center">
	<h5>{% trans "No reviews yet" %}</h5>
</div">
{% endif %}	

{% endblock content %}