{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Read" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>{% trans "kind" %}</h2>
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">	
			<h4></h4>		
		</div>
		<div class="card-body">
			<div class="row">
				<p>{{ kind.title }}</p>	
			</div>				
		</div>
		<div class="card-footer">				
		</div>		
	</div>
	<br>
	<a class="btn btn-outline-info" style="width:100px; margin-top:5px" onclick="history.back()">{% trans "Back" %}</a> 
</div>
{% endblock content %}