{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "App name" %}{% endblock title %}
{% block header %}

{% endblock header %}
{% block content %}
<div class="div-width-100-text-center">
	{% if LANGUAGE_CODE == 'kk' %}
		<h1>A L A C O L</h1>	
	{% else %}
		<h1>A L A C O L</h1>	
	{% endif %}				
</div>
<div class="part0">
	<div class="row">
		{% if LANGUAGE_CODE == 'kk' %}
			<h2 style="text-transform: uppercase; text-align: center;">Қош келдіңіз</h2>	
		{% else %}
			<h2 style="text-transform: uppercase; text-align: center;">Добро пожаловать</h2>	
		{% endif %}		
	</div>
	<div class="row">
		<div class="col-md-9">
			{% if LANGUAGE_CODE == 'kk' %}
				Тек бізде Алматыдан немесе Астанадан ең арзан бағамен соңғы минуттық турлар бар! Барлық туроператорлар туралы ақпаратты жинаудың бірегей жүйесінің арқасында біз қазіргі уақытта соңғы деректер мен ең жақсы ұсыныстарды аламыз. Біздің туристік агенттік Түркия, Таиланд, Египет, БАӘ, Мальдив аралдары және т.б. сияқты бағыттарға соңғы минуттық сапарларды ұсынады. Бір рет біздің клиентіміз бола отырып, сіз әрқашан туризм әлеміндегі ең тиімді ұсыныстар мен соңғы жаңалықтардан хабардар боласыз. Астанадан немесе Алматыдан армандаған елге соңғы минуттық турды сатып алып, «кеттік» арқылы тілегіңізді орындаңыз!
			{% else %}
				<h2>Мы с особой гордостью представляем Вам новую семейную базу отдыха на берегу озера Алаколь!</h2>
				<h4>Отдых в базе A L A C O L – это все лучшее, что может предложить Вам Алакольский берег:</h4>
				<ul>
					<li>возрождение жизненных сил в волшебных водах озера</li>
					<li>комфортные номера из экологических природных материалов</li>
					<li>чистый степной воздух</li>
				</ul>				
			{% endif %}	
		</div>
		<div class="col-md-3">
			<img src="{% static 'images/logo.png' %}" alt="dance" style="width:100%; padding: 10px;">
		</div>
	</div>
	<div class="row">	
		<div class="accordion accordion-flush" >
			<div class="accordion-item">
				<h2 class="accordion-header" id="flush-heading01">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse01" aria-expanded="false" aria-controls="flush-collapse01">
						{% if LANGUAGE_CODE == 'kk' %}
							Ары қарай оқу...
						{% else %}
							Подробнее...
						{% endif %}
					</button>
				</h2>
				<div id="flush-collapse01" class="accordion-collapse collapse" aria-labelledby="flush-heading01" data-bs-parent="#accordionFlushExample">
					<div class="accordion-body">
						{% if LANGUAGE_CODE == 'kk' %}
							<p>Кешен Үшарал қаласынан 65 км қашықтықта, Алакөл көлінің жағалауында (Ақши кенті) орналасқан. Теңіз деңгейінен биіктігі 340 метр.</p>
							<p>Жалпы ауданы 1 гектар. Экологиялық табиғи материалдардан жасалған жайлы нөмірлері бар жақсы күтімді, қорғалатын аумақ.</p>
							<p>Қонақтарға 52 жайлы класс нөмірлері стандарт және люкс:</p>
							<ul>
								<li>Standart (бір бөлмелі, екі орындық) (double): барлық бөлмелер екі қабатты ғимаратта орналасқан; бірінші және екінші қабаттардағы бір бөлмелі бөлме. Бірінші қабаттағы бөлмелер өздерінің террассаларына кіре алады.</li>
								<li>Standart (бір бөлмелі, екі орындық) (twin): барлық бөлмелер екі қабатты ғимаратта орналасқан; бірінші және екінші қабаттардағы бір бөлмелі бөлме. Бірінші қабаттағы бөлмелер өздерінің террассаларына кіре алады.</li>
								<li>Lux (екі бөлмелі, төрт орындық): жеке бір қабатты бөрене үйінде орналасқан (екі бөлмелі үй); екі бөлмелі бөлме (қонақ бөлме және жатын бөлме).</li>
								<li>Lux (үш бөлмелі, алты орындық): жеке бір қабатты бөрене үйінде орналасқан (бір үй - бір бөлме); үш бөлмелі бөлме (қонақ бөлмесі және екі жатын бөлме).</li>
								<li>Lux (бес бөлмелі, сегіз орындық) жаңа 2019!: бөрене үйінен бөлек бір қабатты үйде орналасқан (бір үй - бір бөлме); бес бөлмелі бөлме (қонақ бөлмесі және төрт жатын бөлме).</li>
							</ul>
							<p>Корейлік ортопедиялық матрацтары бар Беларуссияда жасалған кереуеттің әр бөлмесінде Тоңазытқыш, спутниктік теледидары бар теледидар (20 арна), кондиционер, душ кабинасы бар жуынатын бөлме, шаш кептіргіш, ақ Сүлгілер (бет, ванна, аяққа арналған), тәпішке.</p>
							<p>Алаңда жайлы асхана бар, онда демалушылар дәмді тағамдармен қоректенеді.Асханада тамақтану өзіне-өзі қызмет көрсету принципі бойынша, тарату желісі арқылы ұйымдастырылған. Аспаздар Алматы қаласынан шақырылды.</p>
							<p>Сондай-ақ, сайтта ұлттық, еуропалық, итальяндық, жапондық тағамдарға тапсырыс беруге болатын мейрамхана мәзірі бойынша демалушыларға қызмет көрсететін жазғы алаң бар.</p>
							<p>Ал кафе-барда демалушылар үйінен алкогольді және алкогольсіз сусындардың кең таңдауын күтеді.</p>
							<p>Кешен аумағында ересектер мен балаларға арналған жылытылатын ашық бассейн бар (балалар аймағы бар 20х8м) - new 2019!, балалар ойын алаңы (тегін), кәсіби балалар аниматорлары (тегін), кешкі дискотека, жазғы алаң (барбекю, сусындар, мейрамхана мәзірі), кір жуатын бөлме, WI-Fi, тегін қорғалатын автотұрақ, тәулік бойы қорғалатын қоршалған аумақ.</p>
							<h3>"A L A C O L" отбасылық демалыс базасы өз есігін ашып, сізге керемет демалыс беруге дайын!</h3>
							<h4>Біз Сіздің жайлылығыңыз үшін бәрін жасаймыз!</h4>
							<hr>
							<h5><a href="{% static 'documents/rules.docx' %}">Тұру ережелері</a></h5>
						{% else %}
							<p>Комплекс находится в 65 км от города Ушарал, на побережье озера Алаколь (пос. Акши). Высота над уровнем моря 340 метров.</p>
							<p>Общая площадь 1 гектар. Ухоженная, охраняемая территория с комфортабельными номерами из экологических природных материалов.</p>
							<p>К услугам гостей 52 комфортабельных номеров класса стандарт и люкс:</p>
							<ul>
								<li>Standart (однокомнатный, двухместный) (double): все номера расположены в двухэтажном корпусе; однокомнатный номер на первом и втором этажах. Номера на первом этаже имеют выход на свою террасу.</li>
								<li>Standart (однокомнатный, двухместный) (twin): все номера расположены в двухэтажном корпусе; однокомнатный номер на первом и втором этажах. Номера на первом этаже имеют выход на свою террасу.</li>
								<li>Lux (двухкомнатный, четырёхместный): расположен в отдельно стоящем одноэтажном доме из сруба (дом на два номера); двухкомнатный номер (гостиная и спальня).</li>
								<li>Lux (трёхкомнатный, шестиместный): расположен в отдельно стоящем одноэтажном доме из сруба (один дом - один номер); трёхкомнатный номер (гостиная и две спальни).</li>
								<li>Lux (пятикомнатный, восьмиместный): расположен в отдельно стоящем одноэтажном доме из сруба (один дом - один номер); пятикомнатный номер (гостиная и четыре спальни).</li>
							</ul>
							<p>В каждом номере кровати белорусского производства с корейскими ортопедическими матрацами, холодильник, телевизор со спутниковым телевидением (20 каналов), кондиционер, санузел с душевой кабиной, фен,  белые полотенца (лицевые, банные, для ног), тапочки.</p>
							<p>На территории есть уютная столовая, где отдыхающих кормят вкусными блюдами.Питание в столовой организовано по принципу самообслуживания, через линию раздачи. Повара приглашены из г. Алматы.</p>
							<p>Также на территории отеля расположена летняя площадка, обслуживающая отдыхающих по ресторанному меню, по которому можно заказать блюда национальной, европейской, итальянской, японской кухни.</p>
							<p>А в кафе-баре из сруба отдыхающих ожидает широкий выбор алкогольных и безалкогольных напитков.</p>
							<p>На территории комплекса имеется открытый бассейн с подогревом для взрослых и детей (20х8м с детской зоной) - new 2019!, детский игровая площадка (бесплатно), профессиональные детские аниматоры (бесплатно), вечерняя дискотека, летняя площадка (шашлыки, напитки, ресторанное меню), тпрачечная, WI FI, бесплатная охраняемая автостоянка, круглосуточно охраняемая огороженная территория.</p>
							<h3>База семейного отдыха «A L A C O L» готов распахнуть свои двери и предоставить Вам шикарный отдых!</h3>
							<h4>Мы сделаем все для Вашего комфорта!</h4>
							<hr>
							<h5><a href="{% static 'documents/rules.docx' %}">Правила проживания</a></h5>
						{% endif %}	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<hr>

<div class="div-width-100-text-center">
	<h3>{% trans "rooms" %}</h3>
</div>
<div class="part1">
	<div class="row" style="margin-top: 100px;">
		{% if room14.count > 0 %}
			{% for r in room14 %}
				<div class="col-lg-3">				
					{% if r.photo.url != None %}
						<img style="width:100%; max-width:400px;" src="{{ r.photo.url}}" alt="{{ r.title }}" title="{{ r.details }}">
					{% endif %}
					<p><div class="Stars" style='--rating: {{ r.avg_rating| stringformat:".1f" }};'></div></p>	
					<h6><a href="{% url 'room_read' r.id %}">{{ r.kind }}</a></h6>
					<h6><a href="{% url 'room_read' r.id %}">{{ r.title }}</a></h6>											
				</div>
			{% endfor %}
		{% endif %}								
	</div>	
	<h3 style="text-align: center;" ><a href="{% url 'room_list' %}">{% trans "all rooms" %}</a></h3>
</div>
<hr>

<div class="div-width-100-text-center">
	<h3>{% trans "reviewss" %}</h3>		
</div>
<div class="part2">
	<div class="row" style="margin-top: 100px;">
		{% if reviews14.count > 0 %}
			{% for r in reviews14 %}
				<div class="col-lg-3">
					<p><div class="Stars" style='--rating: {{ r.rating| stringformat:".1f" }};'></div></p>							
					<h6> {{ r.room }}</h6>
					<!-- <h6>{% trans "Rating" %} {{ r.rating }}</h6>																				 -->
					<p><small>{{ r.details | slice:"0:200" }}...</small></p>									
					<h6> {{ r.username }}</h6>
				</div>
			{% endfor %}
		{% endif %}								
	</div>
	<h3 style="text-align: center;" ><a href="{% url 'reviews_list' %}">{% trans "all reviews" %}</a></h3>
</div>
<hr>

<div class="jumbotron">
	<div class="div-width-100-text-center">
		<h3>{% trans "newss" %}</h3>
	</div>
	<hr class="my-4">
	<div class="row">
		{% if news1.count > 0 %}
		<div class="col-lg-9 border" style="padding:10px;">
			{% for c in news1 %}
				<center><p><strong>{{ c.daten | date:"d.m.Y H:i" }}</strong></p></center>
				{% if c.photo.url != None %}
					<img class="img-center" src="{{ c.photo.url}}" alt="{{ c.title }}" title="{{ c.details }}">
				{% endif %}
				<h4><a href="{% url 'news_read' c.id %}">{{ c.title }}</a></h4>
				<p>{{ c.details }}</p>
			{% endfor %}
		</div>
		<div class="col-lg-3 border" style="padding:10px;">
			{% if news24.count > 0 %}
				{% for c in news24 %}
				<center><p><strong>{{ c.daten | date:"d.m.Y H:i" }}</strong></p></center>
				<div class="row">
					{% if c.photo.url != None %}
						<img class="img-center3" src="{{ c.photo.url}}" alt="{{ c.title }}" title="{{ c.details }}">
					{% endif %}
				</div>
				<div class="row">
					<h5><a href="{% url 'news_read' c.id %}">{{ c.title }}</a></h5>
				</div>
				<hr class="my-4">
				{% endfor %}
			{% endif %}
		</div>
		{% endif %}
	</div>
	<h3 style="text-align: center;" ><a href="{% url 'news_list' %}">{% trans "all newss" %}</a></h3>
</div>
{% endblock content %}
