{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "price" %}{% endblock title %}
{% block header %}

{% endblock header %}
{% block content %}
<div class="div-width-100-text-center">
	<h3>{% trans "price" %}</h3>
</div>
<div class="container">
    <div class="row" style="padding: 10px">	
		<table id="myTable" class="table-manager" style="width:100%">
			<thead>
				<tr>
					{% if LANGUAGE_CODE == 'kk' %}	
						<th><p>Сан санаты</p></th>
						<th><p>Сандардың сипаттамасы</p></th>								
					{% else %}		
						<th><p>Категория номера</p></th>				
						<th><p>Описание номера</p></th>									
					{% endif %}

					<th><p>19.06-30.06</p></th>				
					<th><p>01.07-13.08</p></th>				
					<th><p>14.08-31.08</p></th>				
				</tr>
			</thead>
			<tbody>
				<tr>
					{% if LANGUAGE_CODE == 'kk' %}	
						<td><p>Стандартты екі орынды (бір бөлмелі, екі орынды)</p></td>
						<td><p>Екі кісілік төсек 160*200, тумбочкалар, айнасы бар гардероб, тоңазытқыш, фен, шай жинағы, электр шәйнек, теледидар, кондиционер, душымен жуынатын бөлме.</p></td>
					{% else %}		
						<td><p>Standart Double (однокомнатный, двухместный)</p></td>
						<td><p>Двуспальная 160*200 кровать, прикроватные тумбы, гардеробный шкаф с зеркалом,  холодильник, фен, набор чайной посуды, электрочайник, телевизор, кондиционер, санузел с душевой кабиной.</p></td>
					{% endif %}
					<td><p>26000</p></td>
					<td><p>38000</p></td>					
					<td><p>26000</p></td>					
				</tr>
				<tr>
					{% if LANGUAGE_CODE == 'kk' %}	
						<td><p>Стандартты Twin (бір бөлмелі, екі орынды)</p></td>
						<td><p>Екі бір кісілік кереует 90*200, тумбочкалар, айнасы бар гардероб, тоңазытқыш, фен, шай жинағы, электр шәйнек, теледидар, кондиционер, душымен жуынатын бөлме.</p></td>					
					{% else %}		
						<td><p>Standart Twin (однокомнатный, двухместный)</p></td>
						<td><p>Две односпальные 90*200 кровати, прикроватные тумбы, гардеробный шкаф  с зеркалом, холодильник, фен, набор чайной посуды, электрочайник,  телевизор, кондиционер, санузел с душевой кабиной.</p></td>
					{% endif %}
					<td><p>26000</p></td>
					<td><p>38000</p></td>					
					<td><p>26000</p></td>					
				</tr>
				<tr>
					{% if LANGUAGE_CODE == 'kk' %}	
						<td><p>Люкс (террасасы бар екі бөлмелі, төрт кереуеттік ағаш үй)</p></td>
						<td><p>Трассасы бар ағаш үй (қос төсек 160*200 және тумбочкалар, гардероб, орындықтары бар үстел, тоңазытқыш, теледидар, әр бөлмеде кондиционер, душымен жуынатын бөлме, фен) Жұмсақ жиһазбен жабдықталған қонақ бөлме, электр шәйнек, ас үй жиһазы, шай ыдыстары жинағы. Жұмсақ жиһазы бар қонақ бөлмесінде 1 қосымша төсек орналастыруға болады. Бөлменің ауданы 40 ш.м., терраса ауданы 8 ш.м.</p></td>					
					{% else %}		
						<td><p>Lux (двухкомнатный, четырехместный домик из сруба с террасой)</p></td>
						<td><p>Домик из сруба с террасой (двуспальная 160*200 кровать и прикроватные тумбы, гардеробный шкаф, стол со стульями, холодильник, телевизор, кондиционер в каждой комнате, санузел с душевой кабиной, фен) Гостиная с мягкой мебелью, электрочайник, кухонная мебель, набор чайной посуды. В гостиной с мягкой мебелью можно организовать 1 доп.мест. Площадь номера 40 кв.м., площадь террасы 8 кв.м.</p></td>
					{% endif %}
					<td><p>48000</p></td>
					<td><p>80000</p></td>					
					<td><p>48000</p></td>					
				</tr>
				<tr>
					{% if LANGUAGE_CODE == 'kk' %}	
						<td><p>Люкс (үш бөлмелі, террасасы бар алты адамдық ағаш үй)</p></td>
						<td><p>Трассасы бар ағаш үй (екі бір орынды кереует 90*200 және екі орынды кереует 160*200, тумбочка, гардероб, орындықтары бар үстел, шай ыдыстары жинағы, тоңазытқыш, теледидар, ауа. әр бөлмеде кондиционер, душ кабинасы бар ванна бөлмесі, фен). Қонақ бөлме жұмсақ жиһаз, микротолқынды пеш, электр шәйнек, ас үй жиһазы. Жұмсақ жиһазы бар қонақ бөлмесінде 2 қосымша төсек орналастыруға болады. Бөлменің ауданы 57 ш.м., терраса ауданы 11 ш.м.</p></td>
					{% else %}		
						<td><p>Lux (трехкомнатный, шестиместный домик из сруба с террасой)</p></td>
						<td><p>Домик из сруба с террасой( две односпальные 90*200 и двуспальная 160*200 кровать, прикроватные тумбы, гардеробный шкаф, стол со стульями, набор чайной посуды, холодильник, телевизор, кондиционер в каждой комнате, санузел с душевой кабиной, фен). Гостиная с мягкой мебелью, СВЧ-печь, электрочайник, кухонная мебель. В гостиной с мягкой мебелью можно организовать 2 доп.мест. Площадь номера 57кв.м., площадь террассы 11 кв.м.</p></td>
					{% endif %}
					<td><p>72000</p></td>
					<td><p>120000</p></td>					
					<td><p>72000</p></td>					
				</tr>
				<tr>
					{% if LANGUAGE_CODE == 'kk' %}	
						<td><p>Lux NEW (бес бөлмелі ағаш кабина, он екі адам, 4 жатын бөлме, қонақ бөлме)</p></td>
						<td><p>Бес бөлмелі жеке ағаш үй: төрт жатын бөлме және бір үлкен қонақ бөлме (төрт екі орынды кереует 180 * 200, екі диван төсек 160 * 200, тумбочкалар, гардероб, әр жатын бөлмеде сплит жүйесі). Қонақ бөлме шайға арналған ыдыс-аяқ жиынтығымен, жұмсақ жиһазбен, орындықтары бар үстелмен, үлкен тоңазытқышпен, жалпақ экранды теледидармен, электр шайнекімен және микротолқынды пешпен жабдықталған. Душ, фен бар екі ванна бөлмесі. Қосымша орындарды қоюға болады. Саяжай алаңы 160 ш.м.</p></td>
					{% else %}		
						<td><p>Lux NEW (пятикомнатный  коттедж из сруба, двенадцати местный, 4 спальни,гостниная)</p></td>
						<td><p>Коттедж отдельно стоящий из сруба пятикомнатный: четыре спальной комнаты и одна большая гостиная (четыре двуспальные 180*200 кровати, два раскладных дивана 160*200,  прикроватные тумбы, гардеробный шкаф, сплит система в каждой спальне). Гостиная оборудована кухонным уголком набором чайной посуды, с мягкой мебелью, стол со стульями, большим холодильником, плоским телевизором, электрочайником и микроволновой печью. Два санузела с душевыми кабинами, фен. Можно поставить доп.места.  Площадь коттеджа 160кв.м.</p></td>
					{% endif %}
					<td><p>140000</p></td>
					<td><p>250000</p></td>					
					<td><p>140000</p></td>					
				</tr>
			</tbody>
		</table>
	</div>
</div>

{% endblock content %}