{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "services" %}{% endblock title %}
{% block header %}

{% endblock header %}
{% block content %}
<div class="div-width-100-text-center">
	<h3>{% trans "services" %}</h3>
</div>
<div class="container">
    <div class="row" style="padding: 10px">
	{% if LANGUAGE_CODE == 'kk' %}
		<ul>
			<li>24/7 тіркелу;</li>
			<li>Несиелік карта қызметі (Euro/Mastercard және Visa);</li>
			<li>Күзетілетін автотұрақ;</li>
			<li>Бассейнді пайдалану;</li>
			<li>Балалар алаңы;</li>
			<li>Кездесу – вокзалға/қайта жөнелту (13-сайдинг);</li>
			<li>Wi-Fi;</li>
			<li>Тіркеу кезінде гигиеналық заттар мен тәпішкелер;</li>
			<li>Ыдыс-аяқ жиынтығы және қайнаған суға арналған термос;</li>
			<li>Бөлме күн сайын тазаланады;</li>
			<li>Зығырды ауыстыру - 5 күнде бір рет, сүлгілерді - 3 күнде бір рет;</li>
			<li>Үтік пен үтіктеу тақтасын сұрау бойынша қызметші береді,</li>
			<li>Қабылдаудағы багаж қоймасы</li>
		</ul>
		<h4>Қосымша ақылы қызмет:</h4>
		<ul>
			<li>Тағам (асхана, мейрамхана);</li>
			<li>Тақта;</li>
			<li>Кір жуу қызметі;</li>
			<li>Үшарал әуежайынан трансфер;</li>
			<li>Балалар мен ересектерге арналған жағажайдағы су жаттығулары.</li>
		</ul>
	{% else %}
		<ul>
			<li>Круглосуточная регистрация;</li>
			<li>Обслуживание по кредитным картам (Euro/Mastercard и Visa);</li>
			<li>Охраняемая автостоянка;</li>
			<li>Пользование бассейном;</li>
			<li>Детская игровая площадка;</li>
			<li>Встреча-проводы на/с железнодорожной станции (13ый разъезд);</li>
			<li>Wi-Fi;</li>
			<li>Предметы гигиены и тапочки - при заселении;</li>
			<li>Набор посуды и термос для кипятка;</li>
			<li>Ежедневно производится уборка номера;</li>
			<li>Смена белья - один раз в 5 дней,  полотенец – раз в 3 дня;</li>
			<li>Утюг и гладильная доска предоставляются горничной по требованию клиента,</li>
			<li>Хранения багажа у администратора.</li>
		</ul>
		<h4>Дополнительный платный сервис:</h4>
		<ul>
			<li>Питание (столовая, ресторан);</li>
			<li>Бар;</li>
			<li>Услуги прачечной;</li>
			<li>Трансферт с аэропорта г.Ушарал;</li>
			<li>Водные развлечения на пляже для детей и взрослых.</li>
		</ul>
	{% endif %}
	</div>
</div>

{% endblock content %}